extends layout


block content
  #subheader
  #header
    h1
      a#headerLink(href="http://localhost:3000") [The Koalabook]
      input#txtSearch(type='text', placeholder='Search')
      button#btnSearch Search
    
  // Wrapper
  #wrapper
    // USER INFO
    #userInfo
      h2 Koala Profile
      p
        strong Picture:
        |  <span id='userInfoPic'></span>
        br
        strong Name:
        |  <span id='userInfoName'></span>
        br
        Strong Email:
        | <span id='userInfoEmail'></span>
        br
        Strong Phone:
        | <span id='userInfoPhone'></span>
        br
        strong Age:
        |  <span id='userInfoAge'></span>
        br
        strong Gender:
        |  <span id='userInfoGender'></span>
        br
        strong Location:
        |  <span id='userInfoLocation'></span>
        br
        strong Occupation:
        |  <span id='userInfoOccupation'></span>
        br
        strong Hobbies:
        |  <span id='userInfoHobbies'></span>
    // /USER INFO
    
    // USER LIST
    h2 List of Koalas
    #userList
      table
        thead
          th User Name
          th Age
          th Email
          th Phone Number
          th Delete?
        tbody
    // /USER LIST
 
    // USER LOGGED IN
    div User Logged In:
    a#UserLink(href='/logout')=username
    
 
    // ADD USER
    script(type='text/javascript' src='/javascripts/angular.js')
    div#modal(ng-app='LoginApp')
      div#modalCtrl(ng-controller='MyCtrl')
        button#modalBtn(ng-click='toggleModal()') Open Modal Dialog
        modal-dialog#modalDialog(show='modalShown' width='600px' height='325px')
          h2 {{viewType}}
          div(ng-switch on='viewType')
            div(ng-switch-when='Add Koala Bear')
              #addUser(align='center')
                form(name='addForm' novalidate ng-submit="submitForm();")
                  .form-section
                    input#inputUserName(type='text', placeholder='Username', name='username1', ng-model='username1', required='')
                    .custom-error(ng-show='addForm.username1.$dirty && addForm.username1.$invalid')
                      | Invalid:
                      span(ng-show='addForm.username1.$error.required') Username is required.
                    br
                    input#inputUserEmail(type='email', name='email1', ng-model='email1', required='', placeholder='Valid Email')
                    .custom-error(ng-show='addForm.email1.$dirty && addForm.email1.$invalid')
                      | Invalid:
                      span(ng-show='addForm.email1.$error.required') Email is required.
                      span(ng-show='addForm.email1.$error.email') Please, write a valid email address.
                    .control-group
                        .controls
                          input#inputUserPassword.immediate-help(ng-model='inputUserPassword', password-validate='', ng-required='', type='password', placeholder='Password', name='inputUserPassword')
                          input#inputUserVerifyPassword(type='password', ng-model='inputUserVerifyPassword', ng-required='', pw-check='inputUserPassword', name='inputUserVerifyPassword', placeholder="Verify Password")
                          .input-help
                            h4 Password must meet the following requirements:
                            ul
                              li(ng-class='pwdHasLetter')
                                | At least
                                b  one letter
                              li(ng-class='pwdHasNumber')
                                | At least
                                b  one number
                              li(ng-class='pwdValidLength')
                                | At least
                                b  8 characters long
                              li(ng-show='addForm.inputUserVerifyPassword.$error.pwmatch')
                                span.msg-error(ng-show='addForm.inputUserVerifyPassword.$error.pwmatch') Passwords don't match.                    
                    br
                    input#inputUserSecurityQuestion(type='text', placeholder='Security Question', name='securityQuestion', ng-model='securityQuestion', required='')
                    .custom-error(ng-show='addForm.securityQuestion.$dirty && addForm.securityQuestion.$invalid')
                      | Invalid:
                      span(ng-show='addForm.securityQuestion.$error.required') Security Question is required.
                    br
                    input#inputUserSecurityQuestionAnswer(type='text', placeholder='Security Question Answer', name='securityAnswer', ng-model='securityAnswer', required='')
                    .custom-error(ng-show='addForm.securityAnswer.$dirty && addForm.securityAnswer.$invalid')
                      | Invalid:
                      span(ng-show='addForm.securityAnswer.$error.required') An answer to the Security Question is required.
                  br
                  input#inputUserFullname(name='fullName' type='text', placeholder='Full Name')
                  input#inputUserPicture(name='pic' type='text', placeholder='Picture URL')
                  script(type='text/javascript' src='/javascripts/angular.js')
                  input#inputUserPhone(type='number', name='inputUserPhone', ng-model='inputUserPhone', ng-minlength='10', ng-maxlength='10', placeholder='10 digit Phone Number')
                  br
                  input#inputUserAge(name='age' type='text', placeholder='Age')
                  input#inputUserLocation(name='location' type='text', placeholder='Location')
                  input#inputUserGender(name='gender' type='text', placeholder='Gender')
                  br
                  input#inputUserOccupation(name='job' type='text', placeholder='Occupation')
                  input#inputUserHobbies(name='hobbies' type='text', placeholder='Hobbies')
                  br
                  button#btnAddUser(name='add' ng-disabled='addForm.inputUserPhone.$dirty && addForm.inputUserPhone.$invalid ||addForm.name.$pristine || addForm.inputUserPassword.$pristine || addForm.inputUserPassword.$dirty && addForm.inputUserPassword.$invalid || addForm.inputUserVerifyPassword.$pristine || addForm.inputUserVerifyPassword.$dirty && addForm.inputUserVerifyPassword.$invalid || addForm.securityQuestion.$pristine || addForm.securityAnswer.$pristine || addForm.fullName.$pristine || addForm.pic.$pristine || addForm.email.$pristine || addForm.phone.$pristine || addForm.age.$pristine || addForm.location.$pristine || addForm.gender.$pristine || addForm.job.$pristine || addForm.hobbies.$pristine || addForm.email1.$dirty && addForm.email1.$invalid || addForm.username1.$dirty && addForm.username1.$invalid || addForm.securitQuestion.$dirty && addForm.securityAnswer.$invalid || addForm.securityAnswer.$dirty && addForm.securityAnswer.$invalid') Add Koala
                button#btnSwitch(ng-click='switchViews()') Login
            div(ng-switch-when='Login Koala Bear')
              #loginUser(align='left')
                form(action='/login' method='post')
                  input#inputUserName(type='text', name='username', placeholder='Username')
                  input#inputUserPassword(type='password', name='password', placeholder='Password')
                  input#btnLogin(type='submit', value='Login')
                button#btnSwitch(ng-click='switchViews()') New Account
                button#btnSwitch(ng-click='switchViews2()') Reset Password
            div(ng-switch-when='Reset Password')
              form(action='/login' method='post')
                  p Enter your username, then click submit to get your security question.
                  input#inputUserName(type='text', name='username', placeholder='Username')
                  text#securityQuestion(type='text', name='securityQuestion')
                  br
              br
              button#btnGetSecurityQuestion(onClick='getSecurityQuestion()') Get Security Question
              button#btnSwitch(ng-click='switchViews2()') Login
              br
              br
              br
              form(action='/login' method='post')
                 p Enter the answer to your security question, and click Check If Correct. If the answer is correct, you will be notified, and then you can enter your new password. After you reset your password, you will need to click the Login button. 
                 input#inputSecurityAnswer(type='text', name='securityAnswer', placeholder='Answer')
                 text#check(type='text', name='check')
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 input#newPassword.immediate-help(type='text', name='newPassword', placeholder='New Password', ng-model='newPassword', password-validate='', ng-required='')
                 .input-help
                            h4 Password must meet the following requirements:
                            ul
                              li(ng-class='pwdHasLetter')
                                | At least
                                b  one letter
                              li(ng-class='pwdHasNumber')
                                | At least
                                b  one number
                              li(ng-class='pwdValidLength')
                                | At least
                                b  8 characters long
                 display#check(type='text', name='display')
              button#checkIfCorrect(onClick='checkIfPasswordCorrect()') Check If Correct
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              button#resetPassword(onClick='resetPassword()') Reset Password
              
  // /WRAPPER

